*{
  box-sizing: border-box;
}
:root {
  --primary-font:'Raleway', sans-serif;
  --secondary-font: 'Rubik', sans-serif;
  --main-bg-color: #004643;
  --heading-color:#fffffe;
  --Paragraph-color:#abd1c6;
  --button-color:#f9bc60;
  --button-color:#001e1d;
}
body {
  margin: 0;
}

